name: test

on: [push]

env:
  FOUNDRY_PROFILE: ci
  ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
  PHALCON_RPC_URL: ${{ secrets.PHALCON_RPC_URL }}

jobs:
  check:
    strategy:
      fail-fast: true

    name: CI Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          forge install
          cd lib/LayerZero-v2/
          yarn install
          yarn build
          cd ../..
        id: install

      - name: Build
        run: |
          forge --version
          forge build --sizes
          bash compile.sh
        id: build

      - name: Tests
        run: |
          bash test.sh
        id: test
